.menuprincipal
    width: 100%
    position: fixed
    bottom: 40px
    z-index: 10
    background: $grisbg
    padding: 20px
    border-radius: 25px 25px 0 0
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.35)
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.35)
    box-shadow: 0 0 8px rgba(0,0,0,.35)
    display: none
.ui.menu
    .item
        padding: 0
    .item>img:not(.ui)
        width: 6em

.btn-actions
    width: 100%
    padding: 20px
    position: fixed
    bottom: 50px
    display: flex
    justify-content: space-between
    .ui.button
        background: white
        box-shadow: 0 0 10px rgba(0,0,0,.25)