.container-premios
    margin-top: 40px
    .ui.header
        text-align: center
        text-transform: uppercase
        color: $gristext
        padding: 20px 0
        font-weight: 600
        letter-spacing: 2px
        span
            color: $pink
    .bar-revista
        display: flex
        justify-content: space-between
        align-items: center
        padding: 10px 20px
        a
            display: flex
            align-items: center
            color: $gristext
            span
                margin-left: 10px
            img
                width: 20px 
                height: 20px
        .pagination-revista
            display: flex
            justify-content: center
            align-items: center