<div class="colla-cont">
    <div class="collages-container">
        <div class="collage owl-carousel owl-theme-default">
            <div class="item" class="w-100">
                <img src="./assets/images/collages/collage1.jpg" alt="">
            </div>
            <div class="item" class="w-100">
                <img src="./assets/images/collages/collage1.jpg" alt="">
            </div>
            <div class="item" class="w-100">
                <img src="./assets/images/collages/collage1.jpg" alt="">
            </div>
            <div class="item" class="w-100">
                <img src="./assets/images/collages/collage1.jpg" alt="">
            </div>
            <div class="item" class="w-100">
                <img src="./assets/images/collages/collage1.jpg" alt="">
            </div>
            <div class="item" class="w-100">
                <img src="./assets/images/collages/collage1.jpg" alt="">
            </div>
        </div>

    </div>

    <div class="footer-collages">
        <img src="./assets/images/downloader.png" alt="">
        <h2 class="ui header">Collage Líneas</h2>
        <p>Campaña 02 - 2019</p>
    </div>

    <div class="btn-actions">
        <button class="ui circular white mini button" ng-click="openContacto()">
            <i class="icon comment"></i>
            Contactanos
        </button>
    </div>
</div>