    <!-- modals 13265580 -->
    <div class="searchModal">
        <div class="ui modal contactom">
            <div class="content">
                <button ng-click="closeSearch()" class="ui icon button">
                    <i class="cloud icon"></i>
                </button>

                <h2>contáctanos</h2>

                <div class="container">
                    <form class="ui form">
                        <div class="field">
                            <input type="text" name="first-name" placeholder="Nombre">
                        </div>
                        <div class="field">
                            <input type="text" name="last-name" placeholder="Correo electronico">
                        </div>
  <div class="field">
      <textarea placeholder="Mensaje" rows="2"></textarea>
  </div>
                        <button class="ui button" type="submit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>