<div class="oficina-container">
<div class="ui card mt-10" style="width: 90%; margin-left: 5%;">
    <div class="content">
        <div class="center aligned" style="padding: 20px 0;">Por favor, ingresa tu información de usuario.</div>
        <div class="aligned description">
            <form class="ui form">
                <div class="field">
                    <input type="text" name="username" placeholder="Nombre de usuario">
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Contraseña">
                </div>
                <button class="ui fluid button" id="btnOficina" type="submit">Ingresar</button>
            </form>
        </div>
    </div>
</div>

<p class="copyRight">Todos los derechos reservados &copy; 2019.</p>
</div>