<div class="container-premios">
    <h5 class="ui header">catálogo de <span>premios</span></h5>
<div ng-controller="MyController as main">
    <div owl-carousel="main.owl.items" owl-options="main.owl.options">
        <div class="item">
            1
        </div>
    </div>
</div>

<div class="bar-revista">
    <a href=""><img src="./assets/images/downloader.png" alt=""> <span>Descargar</span></a>
    <a href=""><img src="./assets/images/paginas.png" alt=""> <span>Paginas</span></a>
    <div class="pagination-revista">
        <a href=""></a>
        <span>00 / 00</span>
        <a href=""></a>
    </div>
</div>
    </div>