    <div class="searchModal">
        <div class="ui modal searchm">
            <div class="content">
                <div class="ui grid">
                    <div class="two wide column">
                        <button ng-click="closeSearch()" class="ui icon button">
                            <i class="cloud icon"></i>
                        </button>
                    </div>
                    <div class="ten wide column">
                        <div class="ui search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Buscar">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>

                <ul class="ui list">
                    <li>Busca el empaque de tu prenda</li>
                    <li>Verifica el Codigo</li>
                    <li>Ingresalo</li>
                    <li>¿Tienes alguna pregunta <a href="">Obtener ayuda</a> ?</li>
                </ul>


            </div>
        </div>
    </div>